@media (hover: hover) {
    html {
      width: 80%;
      margin: 0 auto;
    }
  }


html {
  background-color: rgba(251, 249, 246, 1);
}

* {
  font-family: "IBM Plex Sans KR";
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vh 0 5vh;
}

.nav-wrapper a img {
  width: 10vh;
}

.search {
  width: 35%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 100%;
  background-color: rgba(251, 249, 246, 1);
  border: 2px solid #bbb;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 14px;
}

.search button {
  position: absolute;
  width: 17px;
  left: 90%;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.search img {
  width: 20px;
}

.background {
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 원하는 위치로 조절 */
  left: 0;
  width: 100%;
  border: none; /* 테두리 제거 */
  background-color: rgba(0, 0, 0, 1); /* 배경색 설정 */
}

nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  padding: 0%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a {
  padding: 0 20px 0 20px;
  font-weight: 700;
  color: gray;
}

/* --------------------------------------------------------- */

/*member_wrapper sign in*/
.member_wrapper {
    width: 35%;
    margin: auto; 
    box-sizing: border-box; 
    float: left;
    display: flex;
    justify-content: flex-start;
}

.member_wrapper input[type="text"],
.member_wrapper input[type="email"],
.member_wrapper input[type="password"] {
  height: 10px;
  margin: 5px 0; /* 입력 필드 간의 간격을 조절합니다. */
  background-color: rgba(244, 240, 235, 1);
  border: none;
}

.member_wrapper input[type="text"]::placeholder,
.member_wrapper input[type="email"]::placeholder,
.member_wrapper input[type="password"]::placeholder {
  color: rgba(150, 150, 150, 1);
}

.member_wrapper .field {
  margin-top: 0px;
  margin-bottom: 10px;
}

.member_wrapper p {
  display: block; /*수직 정렬하기 */
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: small;
}

.member_wrapper input:not(input[type="radio"]) {
  padding-right: none;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  margin-bottom: 3px;
  border-radius: 10px;
}

.member_wrapper input[type=submit]{
background-color: rgba(109, 183, 177, 1);
color:#fff;
border: none;
margin-top: 7px;
}

.member_wrapper input:focus {
  outline: none;
  border: none;
}

.member {
  width: 100%;
}

.terms div {
  border: 1px solid #acacac; /* 테두리 스타일 및 색상을 설정합니다. */
  padding: 10px 30px;
  max-height: 200px;
  overflow: auto; /* 스크롤 바 */
  border-radius: 10px;
  margin-top: 20px;
  color: rgb(51, 51, 51);
}

.terms {
    width: 60%;
    float: right;
    box-sizing: border-box;
}

#large_text {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

.check input[type="checkbox"] {
  width: 17px !important;
  height: 17px !important;
  margin-right: 10px; /* 체크 박스와 텍스트 간의 간격을 조절 */
}

.check {
  display: flex;
  flex-direction: column;
}

.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  margin-top: 7px;
  margin-bottom: 5px;
}

label {
  width: 100%;
}

form {
  width: 100%;
}

#medium_text {
  font-size: 14px;
}

label span {
  font-size: 10px;
  margin: 0;
}

hr {
  width: 105%;
}

.field:last-of-type{
  margin-bottom: 15px;
}
