@media (hover: hover) {
  html {
    width: 80%;
    margin: 0 auto;
  }
}

html {
  background-color: rgba(251, 249, 246, 1);
}

* {
  font-family: "IBM Plex Sans KR";
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vh 0 5vh;
}

.nav-wrapper a img {
  width: 10vh;
}

.search {
  width: 35%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input {
  width: calc(
    100% - 40px
  ); /* Adjusted width to accommodate the button and image */
  background-color: rgba(251, 249, 246, 1);
  border: 2px solid #bbb;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 14px;
}

.search button {
  position: absolute;
  right: 20px; /* Adjusted right position */
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.search img {
  width: 20px;
}

nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  list-style-type: none;
  padding: 0%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a {
  padding: 0 20px 0 20px;
  font-weight: 700;
  color: gray;
}

.bold a {
  color: black;
  font-weight: 900;
}


.img_wrapper {
  padding-left: 7%;
  padding-right: 7%;
  width: 86%;
  padding-bottom: 3px;
}

.img_wrapper p {
  font-size: x-large;
  margin-bottom: 0%;
  margin-top: 0;
}

.img_wrapper h3 {
  margin-bottom: 0%;
  margin-top: 0;
}

.img_wrapper h4 {
  margin-bottom: 0%;
  margin-top: 0;
  padding-left: 2px;
  margin: 0;
}

.img_list {
  list-style-type: none;
  display: flex;
  padding: 0%;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.img_list li {
  width: 100%;
}

.img_list img {
  width: 96%;
  height: auto;
  margin-top: 0%;
}

a {
  margin: 0;
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.img_list img.like-icon {
  width: auto;
  height: 20px;
  padding-right: 5%;
}

.img_list div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.likemore {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.likemore h4 {
  font-family: sans-serif;
  color: gray;
  margin-bottom: 0%;
  margin-top: 0;
}

.likemore p {
  margin-bottom: 0%;
  margin-top: 0;
  font-weight: 600;
}

.img_list h6 {
  color: gray;
  font-family: sans-serif;
  margin-bottom: 0%;
  margin-top: 0;
  margin-left: 3px;
}
