html {
  background-color: rgba(251, 249, 246, 1);
  
}

* {
  font-family: 'IBM Plex Sans KR';
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vh 0 5vh;
}

.nav-wrapper a img {
  width: 10vh;
}

.search {
  width: 35%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 100%;
  background-color: rgba(251, 249, 246, 1);
  border: 2px solid #bbb;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 14px;
}

.search button {
  position: absolute;
  width: 17px;
  left: 90%;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.search img {
  width: 20px;
}

.background {
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 원하는 위치로 조절 */
  left: 0;
  width: 100%;
  border: none; /* 테두리 제거 */
  background-color: rgba(0, 0, 0, 1); /* 배경색 설정 */
}

nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  list-style-type: none;
  padding: 0%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a {
  padding: 0 20px 0 20px;
  font-weight: 700;
  color: gray;
}

.bold a {
  color: black;
  font-weight: 900;
}

.img_wrapper {
  padding-left: 7%; 
  padding-right: 7%;
  width:86%;
}

.img_wrapper p {
  font-size: x-large;
  margin-bottom: 0%;
  margin-top:0;
}

.img_wrapper h3 {
  margin-bottom: 0%;
  margin-top: 0;
}

.img_wrapper h2 {
  margin-bottom: 0%;
  margin-top: 0;
  padding-left: 2px;
  margin: 0;
}

.img_list {
  list-style-type: none;
  display: flex;
  padding: 0%;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
}

.img_list li {
  width: 100%;
}

.img_list img {
  width: 96%;
  height: auto;
  margin-top: 0%;
}

a {
  margin: 0;
  color: inherit;
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.img_list img.like-icon {
  width: auto;
  height: 20px;
  padding-right:5%;
}

.img_list div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}


.likemore {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
  
}

.likemore h4 {
  font-family:sans-serif;
  color: gray;
  margin-bottom: 0%;
  margin-top:0;
}

.likemore p {
  margin-bottom: 0%;
  margin-top:0;
}

.img_list h6 {
  color: gray;
  font-family:sans-serif;
  margin-bottom: 0%;
  margin-top: 0;
  margin-left: 3px;
}