@media (hover: hover) {
  html {
    width: 80%;
    margin: 0 auto;
  }
}

html {
  background-color: rgba(251, 249, 246, 1);
}

* {
  font-family: "IBM Plex Sans KR";
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vh 0 5vh;
}

.nav-wrapper a img {
  width: 10vh;
}

.search {
  width: 35%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input {
  width: calc(
    100% - 40px
  ); /* Adjusted width to accommodate the button and image */
  background-color: rgba(251, 249, 246, 1);
  border: 2px solid #bbb;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 14px;
}

.search button {
  position: absolute;
  right: 20px; /* Adjusted right position */
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.search img {
  width: 20px;
}

nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  list-style-type: none;
  padding: 0%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a {
  padding: 0 20px 0 20px;
  font-weight: 700;
  color: gray;
}

.bold a {
  color: black;
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sec1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec1-wrapper {
  display: flex;
  width: 90%;
  padding: 0 5%;
  justify-content: flex-start;
  flex-direction: column;
}

.thumbnail-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.sec1-wrapper img {
  width: 80%;
  height: 16vw;
  object-fit: cover;
}

.sec1-wrapper h1 {
  margin-bottom: 10px;
}

.sec2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec2-wrapper {
  padding: 10% 5% 0 5%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.post-buttons {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons img {
  width: 25px;
  height: 20px;
  padding-right: 8px;
  object-fit: contain;
}

.post-buttons button,
.buttons button {
  width: 15%;
  margin: 2.5px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.game-info {
  display: flex;
  flex-direction: row;
  padding: 2% 1%;
  margin: 0;
  justify-content: center;
}

.game-info li {
  width: 6vw;
  height: 6vw;
  margin: 0 1%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  color: gray;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Adjusted border-radius for circles */
}

.game-info li p {
  margin: 0;
  font-size: 1.5vw;
}

.playlist-button {
  background-color: rgba(251, 217, 150, 1);
}

.delete-button {
  background-color: rgba(187, 215, 184, 1);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: rgba(251, 249, 245, 1);
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  width: 24%;
  height: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.modal-title {
  width: 40%;
  background-color: rgba(242, 201, 196, 1);
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
}

.modal-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  height: 65%;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}

.modal-content ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
}

.modal-content ul li button {
  background-color: rgba(187, 215, 184, 1);
  border-radius: 15px;
  width: 15%;
  height: 25px;
  border: none;
}

.modal-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-button a {
  align-items: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  width: 45%;
  background-color: rgba(109, 183, 177, 1);
  height: 27px;
  cursor: pointer;
}

.finish-button {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.finish-button button {
  background-color: rgba(235, 235, 235, 1);
  border-radius: 15px;
  width: 35%;
  height: 27px;
  border: none;
}
