@media (hover: hover) {
  html {
    width: 80%;
    margin: 0 auto;
  }
}

html {
  background-color: rgba(251, 249, 246, 1);
}

* {
  font-family: "IBM Plex Sans KR";
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vh 0 5vh;
}

.nav-wrapper a img {
  width: 10vh;
}

.search {
  width: 35%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 100%;
  background-color: rgba(251, 249, 246, 1);
  border: 2px solid #bbb;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 14px;
}

.search button {
  position: absolute;
  width: 17px;
  left: 90%;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.search img {
  width: 20px;
}

nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  list-style-type: none;
  padding: 0%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a {
  padding: 0 20px 0 20px;
  font-weight: 700;
  color: gray;
}

.bold a {
  color: black;
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mypage-info {
  margin: 3% 0 5% 0;
  display: flex;
  flex-direction: column;
}

.mypage-info a {
  padding-bottom: 1%;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.my-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.like-game,
.save-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.like-game ul,
.save-game ul {
  padding: 0;
}

.like-game-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.like-game-title img {
  width: 25px;
}

.my-game ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.save-game ul li img,
.like-game ul li img {
  width: 95%;
}

.save-game ul a,
.like-game ul a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.save-game ul a:visited,
.like-game ul a:visited {
  text-decoration: none;
}

.like-game-title a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.like-game-title a:visited {
  text-decoration: none;
}

.like-game-element {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.likes span {
  color: red;
}

.likes img {
  width: 25px !important;
  padding-right: 5px;
}

.about-game h4,
.about-game p {
  margin: 0;
}
