@media (hover: hover) {
  html {
    width: 1440px;
    margin: 0 auto;
  }
}

html {
  background-color: rgba(251, 249, 246, 1);
}

* {
  font-family: "IBM Plex Sans KR";
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vh 0 5vh;
}

.nav-wrapper a img {
  width: 10vh;
}

.search {
  width: 35%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 100%;
  background-color: rgba(251, 249, 246, 1);
  border: 2px solid #bbb;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 14px;
}

.search button {
  position: absolute;
  width: 17px;
  left: 90%;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.search img {
  width: 20px;
}

nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  list-style-type: none;
  padding: 0%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a {
  padding: 0 20px 0 20px;
  font-weight: 700;
  color: gray;
}

.bold a {
  color: black;
  font-weight: 900;
}

h2 {
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.background {
  background-color: rgba(187, 215, 184, 1);
  width: 100%;
  padding: 7% 0 6% 0;
  margin-top: 20px;
  border-radius: 15px;
}

.sec1 {
  width: 40%;
}

.select-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 7% 0 7%;
}

.option {
  background-color: rgba(251, 249, 246, 1);
  border: none;
  border-radius: 20px;
  padding: 8px;
  width: 18%;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.option.selected {
  background-color: rgba(242, 201, 196, 1);
  color: black;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 30px;
  align-items: center;
  padding-top: 20px;
  padding-right: 10px;
}

#game-search,
#reset {
  background-color: rgba(225, 231, 219, 1);
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 18%;
  height: 30px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#reset {
  background-color: rgba(251, 217, 150, 1);
}

.sec2 {
  width: 60%;
  height: 80%;
}

.sec2 ul li {
  list-style: none;
  display: flex;
  margin: 1.5%;
  justify-content: center;
}

.list-info{
  margin-left: 3%;
  width: 60%;
}

.list-info span {
  font-size: 1vw;
}
.sec2 ul li img {
  width: 35%;
}

.sec2 ul li div img {
  width: 20px;
}

.list-title{
  display: flex;
  justify-content: space-between;
}

.game-info {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.game-info li {
  width: 20%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  color: gray;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Adjusted border-radius for circles */
  height: 4.5vw !important; /* Set your desired height */
}



.game-info li p{
  margin: 0;
  font-size: 1.5vw;
}
